<!--<nav class="navbar navbar-expand-lg bg-light border border-1 rounded-3 ">-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid border-0 rounded-0">
    <!--    <a href="#" class="navbar-brand text-dark ">Recipe Book</a>-->
    <!--    <div class="navbar-header">-->
    <a href="#" class="navbar-brand ">Recipe Book</a>
    <button type="button" class="navbar-toggler border-0" (click)="isMainCollapsed = !isMainCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--    </div>-->

    <div class="collapse navbar-collapse" [appDropdown]="isMainCollapsed">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!--        <li class="nav-item">-->
        <!--          <a href="#" class="nav-link"-->
        <!--             (click)="onRecipesClicked()"-->
        <!--             [ngStyle]="getStyleRecipe()"-->
        <!--          >-->
        <!--            Recipes-->
        <!--          </a>-->
        <!--        </li>-->
        <!--        <li class="nav-item">-->
        <!--          <a href="#" class="nav-link"-->
        <!--             (click)="onShoppingClicked()"-->
        <!--             [ngStyle]="getStyleShopping()"-->
        <!--          >-->
        <!--            Shopping List-->
        <!--          </a>-->
        <!--        </li>-->
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/recipes"
             routerLinkActive="active bg-primary rounded"
          >
            &nbsp;Recipes&nbsp;
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link"
             routerLink="/shopping"
             routerLinkActive="active bg-primary rounded"
          >
            &nbsp;Shopping List&nbsp;
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <!--          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Manage</a>-->
          <!--          <a href="#" class="nav-link dropdown-toggle" (click)="isManageShown=!isManageShown" data-bs-toggle="dropdown">Manage</a>-->
          <a style="cursor: pointer"
             class="nav-link dropdown-toggle"
             (click)="isManageShown=!isManageShown"
          >
            &nbsp;Manage&nbsp;
          </a>
          <ul class="dropdown-menu" [appDropdown]="isManageShown">
            <li>
              <a style="cursor: pointer"
                 class="dropdown-item"
                 (click)="onSaveData()"
              >
                Save Data
              </a>
            </li>
            <li>
              <a style="cursor: pointer"
                 class="dropdown-item"
                 (click)="onFetchData()"
              >
                Fetch Data
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
